h1 {
    font-family: 'Monoton', cursive;

}
p {
    color: Purple;
}
body{
    background-color: yellow;
    }
.cardi{
    color:pink;
}
.liltjay {
    color:red;
    }
    .ozuna {
        color: blue;
        }
        .grant{
            color: black;}
    
    